<div class="navbar">
  <%= image_tag "Screen Shot 2022-08-28 at 15.11.23.png", alt: "text", class: "logo" %>
  <div class="menu-layout">
    <div class="contact">contact</div>
  </div>
  <i class="fa-solid fa-bars"></i>
</div>
